<!DOCTYPE html>
<html>
  <%# IMPORTANT: Please read before changing!                                   %>
  <%# This file is rendered on the server using ERB, so it does NOT use Volt's  %>
  <%# normal template system. You can add to it, but keep in mind the template  %>
  <%# language difference. This file handles auto-loading all JS/Opal and CSS.  %>
  <head>
    <meta charset="UTF-8" />
    <%= javascript_tags %>
    <%= css_tags %>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700,400|Roboto+Condensed:700|Merriweather:400' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  </body>
</html>
