/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  // font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: 'Merriweather';
}

html, body {
  width: 100%;
}

a, a:visited {
  color: #EF5350;
  cursor: pointer;
}

h1 {
  font-family: 'Amatic SC';
  font-weight: 700;
  font-size: 6em;
}

h2, h5 {
  font-family: 'Roboto Condensed';
  font-weight: 700;
}

input, button {
  font-family: 'Roboto Condensed';
  font-weight: 700;
}

section {
  padding: 60px 0px !important;
  &.small {
    padding: 20px 0px !important;
  }
}

nav {
  margin-bottom: 0px;
  ul {
    li {
      float: none;
      display: inline-block;
      a {
        padding: 0px 30px;
        font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 20px;
      }
      @media only screen and (max-width : 992px) {
        a {
          padding: 0px 15px;
        }
      }
    }
  }
}

.row {
  &.no-margin {
    margin: 0px;
  }
}

.control-label {
  color: black;
}

footer {
  a , a:active, a:visited, li a, li a:active, li a:visited {
    color: #64b5f6
  }
}

nav ul a,
nav .brand-logo {
  color: #bbb;
}

nav .brand-logo {
  font-size: 1.4em;
}

p {
  font-size: 18px;
  line-height: 1.7;
  color: #37474f;
}

label {
  color: #FFF;
  font-size: 1.2em;
}

.z-depth-0 {
  box-shadow: none;
}

.signup1 {
  padding-top: 4em;
}

#banner {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), asset-url('../images/banner3.jpg') 0% 80%;
  background-size: cover;
  height: 640px;
  h1 {
    margin-top: 0px;
  }
  h5 {
    margin: 0px 0px 80px;
  }
  .intro {
    padding-top: 180px;
    @media only screen and (max-width : 992px) {
      padding-top: 100px;
    }
    label {
      display: none;
    }
    .signup {
      position: relative;
      padding-right: 60px;
    }
    input[type='email'] {
      float: left;
      padding: 3px 20px 6px 20px;
      border-radius: 4px;
      font-size: 20px;
      background: #FAFAFA;
      color: black;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }
    .errors {
      color: white;
      font-family: 'Roboto Condensed';
      font-weight: 700;
      font-size: 16px;
    }
    button {
      position: absolute;
      top: 0px;
      right: 0px;
    }
//    ::-webkit-input-placeholder {
//       color: white;
//    }
//    :-moz-placeholder { /* Firefox 18- */
//       color: white;
//    }
//
//    ::-moz-placeholder {  /* Firefox 19+ */
//       color: white;
//    }
//
//    :-ms-input-placeholder {
//       color: white;
//    }
  }
}

#schedule {
  .time {
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 20px 20px 20px;
    margin: 0px -20px 20px -20px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
  }
}


.banner .welcome h1 {
  font-size: 3.2rem;
  line-height: 3.62rem;
  margin: 1.1rem 0 0.68rem 0;
  font-weight: 300;
}

.banner .welcome h5 {
  font-weight: 500;
}

@media only screen and (max-width : 992px) {
  section {
    margin: 40px 0px;
  }
  .container {
    width: 100%;
  }
  .banner .section {
    position: absolute;
    top: 30%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.button-collapse {
  color: #26a69a;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}