<div id="index-banner" class="banner">
  <div class="section no-pad-bot welcome">
    <div class="container">
      <br><br>
      <h1 class="header center grey-text text-darken-1">volt/opal mini conference</h1>
      <div class="row center">
        <h5 class="header col s12 white-text">Monday 11/16 at 8:00pm</h5>
      </div>
      <div class="row center">
        <div class="col s6 offset-s3 intro1">
          <p>
            Interested in Volt/Opal?  Join the community for an evening <strong><u>in person/remote mini-conference</u></strong> the evening after Rubyconf's 2nd day.
          </p>
        </div>
      </div>
      <form e-submit="signup">
        <div class="row signup1">
            <div class="col s5 offset-s3">
              <:fields:text value="{{ email }}" />
            </div>
            <div class="col s1">
              <button class="btn-large waves-effect waves-light red">Signup</button>
            </div>
          </div>
        </div>
      </form>
      <br><br>

    </div>
  </div>
</div>
