<div id='banner'>
  <div class='intro container'>
    <div class="center">
      <h1 class="header center white-text">Volt/Opal mini conference</h1>
      <h5 class="header col s12 white-text">Monday, November 16th at 7:30pm CST</h5>
    </div>
    <form e-submit="signup">
      <div class="row center">
        <div class="col s12 l8 offset-l2 signup">
          <:fields:text type='email' value="{{ email }}" placeholder='Enter your email...' />
          <button class="btn-large waves-effect waves-light red lighten-1">Save your seat</button>
        </div>
      </div>
    </form>
  </div>
</div>

<nav class='red lighten-1'>
  <ul class='center'>
    <li class='waves-effect'><a href='#about' class='white-text'>About</a></li>
    <li class='waves-effect'><a href='#speakers' class='white-text'>Speakers</a></li>
    <li class='waves-effect'><a href='#schedule' class='white-text'>Schedule</a></li>
  </ul>
</nav>