<:Title>
  VoltMiniConf

<:Body>

<div class="container section">
  <div class="row">
    <div class="col s12 m6">
      <div class="icon-block">
        <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
        <h5 class="center">What is it?</h5>

        <p class="light">The Volt and Opal communities are doing an evening miniconference during RubyConf.  The evening of Monday the 16th, we invite you to join other people interested in Volt/Opal for a few talks, community, free food and beer.</p>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="icon-block">
        <!-- <h2 class="center brown-text"><i class="material-icons">group</i></h2> -->
        <h5 class="center">In Person and Remote</h5>

        <p class="light">If you are going to be at RubyConf in San Antonio, we will be renting a conference room near Rubyconf.  (Location is TBA).  If you can't make it, we will be streaming all talks and taking questions from the stream.</p>
      </div>
    </div>

  </div>
</div>


<div class="container section">
  <div class="row">
    <h4 class="center">Speakers</h4>
    <div class="col s12 m6">
      <div class="icon-block">
        <div class="center"><img height="200" width="200" src="{{ asset_url 'main/assets/images/ryan.jpg' }}" /></div>
        <h5 class="center">Ryan Stout</h5>

        <p class="light">Ryan is the creator of volt.  He will be discussing upcoming features of Volt, common patterns, and growing the community.</p>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="icon-block">
        <div class="center"><img height="200" width="200" src="{{ asset_url 'main/assets/images/ryan.jpg' }}" /></div>
        <h5 class="center">Elia</h5>

        <p class="light">Elia is one of the lead developers of Opal.  Elia will dive into some of the way Opal maintains performance without breaking Ruby compatibility.</p>
      </div>
    </div>

  </div>
</div>